@charset "utf-8";
// @import "./debug.css";

@font-face {
  font-family: "Avenir";
  font-weight: 400;
  font-style: normal;
  src: url("/avenir-400.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.6;
  margin: 0;
}

// set bulma variables here before importing Bulma
// Set your brand colors
$orange: hsl(35, 100%, 50%);
$tnn-primary: hsl(203, 89%, 53%);
$tnn-secondary: #f5deb3;


$dark: #65440f;
// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

$primary: $tnn-primary;
$link: $orange;
$link-hover: white;
$widescreen-enabled: false;
$fullhd-enabled: false;

$family-sans-serif: "Nunito", sans-serif;
$body-background-color: black;

$navbar-item-color: $primary;
$navbar-item-hover-color: $tnn-secondary;
$navbar-tab-hover-border-bottom-color: $tnn-secondary;
$navbar-burger-color: $primary;

$button-color: $dark;
$button-text-color: $dark;
$button-focus-border-color: white;

$button-background-color: $primary;
$button-hover-color: $tnn-secondary;
$button-border-width: 1px;
$button-border-color: $primary;
$button-hover-border-color:  $tnn-secondary;
$button-focus-border-color: $tnn-secondary;

@import "~bulma/bulma.sass";
@import "./helpers.scss";
@import "./media-queries.css";

.button.is-primary {
  color: $dark;
}
.button.is-small {
  border-radius: 0;
}
.logo {
  height: 64px;
  width: 64px;
}
.brandname {
  padding: 8px;
  font-size: 1rem;
  line-height: 1;
  color: $tnn-secondary;
  .column {
    padding: 0;
  }
}
.navbar {
  background: transparent;
  &.is-fixed-top {
    margin: auto;
  }
}
.force-navbar-center {
  flex-grow: 1; justify-content: center;
}

// c97400 - on hover

// background: #d2c4a8;
// border: 1px solid black;
// color: #8c7a33;
// font-weight: 700;