@charset "utf-8";
// @import "./debug.css";

// NOTE on using Bulma for typography
// Use the h1, h2 etc. tags to indicate the importance of the headline (not the styling).
// Use .title, .subtitle where appropriate for styling, accompanied by the typography helpers such as .is-size-1.
// In fields where content editors post content of indeterminate tags, use the .content class on a wrapping element to get default styling of h1 etc.

// set bulma variables here before importing Bulma
// set brand colors
@import "./colors.scss";


$family-primary: "Libre Franklin", Tahoma, Arial, Helvetica, sans-serif;
$family-secondary: "Libre Baskerville", Tahoma, Arial, Helvetica, sans-serif;

$primary: $ttn-sky-blue;
$link: $ttn-sky-blue;
$danger: $ttn-red;
$link-hover: $ttn-red;
$widescreen-enabled: false;
$fullhd-enabled: false;

$body-background-color: #040404;

$navbar-item-color: $ttn-gold;
$navbar-item-hover-color: $ttn-gold;
$navbar-tab-hover-border-bottom-color: $ttn-gold;
$navbar-burger-color: $ttn-sky-blue;

$button-color: $dark;
$button-text-color: $dark;
$button-focus-border-color: white;

$text: white;

// $button-background-color: $ttn-gold;
$button-hover-color: black;
// $button-border-width: 1px;
$button-border-color: $ttn-gold;
// $button-hover-border-color:  $ttn-gold;
// $button-focus-border-color: $ttn-gold;

.content blockquote {
  background-color: hsl(45, 22%, 64%) !important;
  border-left: 5px solid $ttn-gold !important;
  padding: 1.25em 1.5em !important;
  color: black;
}
.container {
  padding: 1.5rem;
}


@import "~bulma/bulma.sass";
@import "./helpers.scss";
@import "./media-queries.scss";
@import "./typography.scss";

.button.is-primary.is-outlined:hover {
  color: black;
}
.button.is-primary.is-outlined:focus {
  color: black;
  border-color: $ttn-gold;
}
// .button.is-primary {
//   color: $dark;
// }
// .button {
//   &:hover {
//     background: $black;
//   }
// }
.button.is-small {
  border-radius: 0;
}
.logo {
  height: 64px;
  width: 64px;
}
.brandname {
  padding: 8px;
  font-size: 1rem;
  line-height: 1;
  color: $ttn-gold;
  .column {
    padding: 0;
  }
}
.navbar {
  background: transparent;
  &.is-fixed-top {
    margin: auto;
  }
}
.navbar-item {
  font-weight: 600;
}
.force-navbar-center {
  flex-grow: 1; justify-content: center;
}
.navbar.is-spaced a.navbar-item, .navbar.is-spaced .navbar-link {
  border-radius: 0;
}