ul {
  padding: 0;
  display: block;
  
}

li {
  width: 30vw;
  display: block;
  padding: 5px;
  animation-name: animateIn;
  animation-duration: 350ms;
  animation-delay: calc(var(--animation-order) * 300ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

li + li {
  margin-top: 16px;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}



.heroImage {
  /*
    If you want to ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width, use these settings:
    height: 61.8vh;
    max-height: 400px;
  */
  height: 100vh;
  margin: auto;
  max-width: 666px;
}

.heroTitle {
  position: absolute;
  top: calc(80vh / 2);
  left: 7vw;
  font-family: 'Libre Baskerville';
  background-color: hsla(252, 45%, 2%, 0.5);
  border: 1px solid black;
}
.heroSubTitle {
  position: absolute;
  bottom: calc(50vh / 2);
  right: 7vw;
  font-family: 'Libre Baskerville';
  background-color: hsla(252, 45%, 2%, 0.5);
  border: 1px solid black;
}
.heroFooter {
  clear: both;
  position: relative;
  padding-top: 2rem;
  margin: auto;
  width: 100%;
  max-width:600px;
  font-weight: 900;
}
.columns.center.no-margin > .column:not(:last-child) {
  border-right: solid 2px white;
}
.column h3 h6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* iPad Pro 12.9" */
@media only screen and (min-width: 1668px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 2388px) and (width: 1688px) and (orientation: portrait)  {
  .heroImage {
    max-width: 1600px;
  }
}
@media only screen and (min-width: 2388px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 1668px) and (width: 2388px) and (orientation: landscape) {
  .heroImage {
    max-width: 1200px;
  }
}
/* for normal iPad/tablets */
@media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 1366px) and (width: 1024px) and (orientation: portrait) {
  .heroImage {
    max-width: 1200px;
  }
}
/* for stupidly wide screens of any dpi */
@media only screen and (min-width: 2300px) and (-webkit-min-device-pixel-ratio: 1.0)
 {
  .heroImage {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1680px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  .heroImage {
    max-width: 1200px;
  }
}