@import "../../styles/colors.scss";

.title_text {
  padding: 0;
  display: block;
}
.title_text {
  // width: 30vw;
  display: block;
  padding: 5px;
}

.hero_image {
  /*
    If you want to ensure golden ratio for the hero size while limiting it to some extent to
    the viewport width, use these settings:
    height: 61.8vh;
    max-height: 400px;
  */
  height: 100vh;
  margin: auto;
  width: 100%
}
.hero_title {
  position: absolute;
  top: calc(80vh / 2);
  left: 7vw;
  font-family: 'Libre Baskerville';
  background-color: hsla(252, 45%, 2%, 0.5);
  border: 1px solid black;
}
.hero_sub_title {
  position: absolute;
  bottom: 15vh;
  right: 7vw;
  font-family: 'Libre Baskerville';
  background-color: hsla(252, 45%, 2%, 0.5);
  border: 1px solid black;
}
.hero_cta{
  display: flex;
  justify-content: center;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 37vh;
  > button {
    box-shadow: 0px 0px 12px 7px $ttn-gold;  
  }
}
/* iPad Pro 12.9" */
@media only screen and (min-width: 1668px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 2388px) and (width: 1688px) and (orientation: portrait)  {
  .hero_image {
    max-width: 1600px;
  }
}
@media only screen and (min-width: 2388px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 1668px) and (width: 2388px) and (orientation: landscape) {
  .hero_image {
    max-width: 1200px;
  }
}
/* for normal iPad/tablets */
@media only screen and (min-width: 1024px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 1366px) and (width: 1024px) and (orientation: portrait) {
  .hero_image {
    max-width: 1200px;
  }
}
/* for stupidly wide screens of any dpi */
@media only screen and (min-width: 2300px) and (-webkit-min-device-pixel-ratio: 1.0)
 {
  .hero_image {
    max-width: 1200px;
  }
}
@media only screen and (min-width: 1680px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {
  .hero_image {
    max-width: 1200px;
  }
}
