
.heroImage {
  /*
    If you want to ensure golden ratio for the hero size while limiting it to some extend to
    the viewport width, use these settings:
    height: 61.8vh;
    max-height: 400px;
  */
  height: 100vh;
  margin: auto;
  max-width: 666px;
}

/* iPad Pro 12.9" */
@media only screen and (min-width: 1668px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 2388px) and (width: 1688px) and (orientation: portrait)  {
  .heroImage {
    max-width: 1600px;
  }
}
@media only screen and (min-width: 2388px) and (-webkit-min-device-pixel-ratio: 1.5),
(height: 1668px) and (width: 2388px) and (orientation: landscape) {
  .heroImage {
    max-width: 1200px;
  }
}